@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
    font-family: $font_name;
    font-display: swap;
    src:url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

/*import*/
@import "media-max";
@import "media-min";
@import "fonts";
@import"obnuleniye";
@import"header";
@import"slick-slider";
@import"Footer";

body{
    height: 100%;
    font-family:Montserrat ;
  
  }
  
  .wrapper {
  min-height: 100%;
  display:flex;
  flex-direction: column;
  padding: 0px;
}
  
  .page{
    padding:  200px 0 30px 0;
    flex: 1 1 auto;
  
  }

  .container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
  }



  ._ibg{
    position: relative;
  }
  ._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  img__all{
    
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 6px;
              display: block;
    
  }





//!Home Sectoon__1

.home {

  // .home__inner

  &__inner {
  display: flex;
  }

  // .home__left

  &__left {
  
  }

  // .home__title

  &__title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    
    color: #1A2578;
  }

  // .home__text

  &__text {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #484C63;
    padding: 30px 0;
  }

  // .home__btn

  &__btn {
  display: flex;
  }

  // .home__btn-item

  &__btn-item-1 {
  padding:14px 32px;
  background: #BF0830;
  margin-right: 15px;
  border-radius: 5px;
    color: white;
  &:hover{
    background-color: white;
    border: 1px solid #BF0830 ;
    color: #BF0830;
  }
}

&__btn-item-2 {
  padding:14px 32px;
  background: #BF0830;
  border-radius: 5px;
  color: white;
  
  &:hover{
    background-color: white;
    border: 1px solid #BF0830 ;
    color: #BF0830;
  }
}
  



// .home__right

  &__right {
  }

  // .home__img

  &__img {
  }
}
.page {

  // .page__section

  &__section {

    // .page__section_1

    &_1 {
    }
  }
}


//!Home Sectoon__1


//!Partners Section__2
.Partners {
padding-top: 100px;
  // .Partners__title
.Partners__title{

}


  &__title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    color: #1A2578;
    padding-bottom: 50px;
    span{
      color: #BF0830;
    }

  
  }

  // .Partners__inner

  &__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

  // .Partners__item

  &__item {
  padding-right: 40px;
  padding-bottom: 20px;

    &:last-child{
      padding-right: 0px;
    }

  }
}
.page {

  // .page__section

  &__section {

    // .page__section_2

    &_2 {
    }
  }
}





//!Partners Section__2



//!Product Section__3

.Product {
padding-top: 200px;
  // .Product__title

  &__title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    align-items: center;
    text-align: center;
    color: #1A2578;
    padding-bottom: 16px;
  }


  &__Sybtitle{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 27px;
text-align: center;
color: #484C63;
padding-bottom: 160px;
  }
  // .Product__inner

  &__inner {
  display: flex;
  justify-content: center;
  
  
  }

  // .Product__item-left

  &__item-left {
  padding-right: 50px;
}

  // .Product__item-title

  &__item-title {
  padding-bottom: 40px;
  }

  // .Product__item-text

  &__item-text {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    align-items: center;
    padding-bottom: 40px;
  
  }

  // .Product__item-btn

  &__item-btn {

.btn{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.005em;
    color: #BF0830;
    padding:15px 34px ;
    border: 1px solid #BF0830;
    text-align: center;
    border-radius: 8px;
}
  }




  // .Product__item-img

  &__item-img {
  padding-top: 40px;
  }

  // .Product__item-right

  &__item-right {
  }
}
.page {

  // .page__section

  &__section {

    // .page__section_3

    &_3 {
    }
  }
}
.Subtitle {

  // .Subtitle__title

  &__title {
  }
}

//!Product Section__3

//!Creators Section__4
.Creators {
padding-top: 100px;
  // .Creators__inner

  &__inner {
  display: flex;
  }

  // .Creators__item-left

  &__item-left {
    padding-top: 15%;
  }

  // .Creators__left-title

  &__left-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    align-items: center;
    color: #1A2578;
  }

  // .Creators__left-text

  &__left-text {
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #484C63;
  }

  // .Creators__item-right

  &__item-right {
  }

  // .Creators__right-img

  &__right-img {
  }
}
.page {

  // .page__section

  &__section {

    // .page__section_4

    &_4 {
    }
  }
}
.img {

  // .img__all

  &__all {
  }
}

//!Creators Section__4



//!Inovators Section__5


.Inovation {
padding-top: 100px      ;
  // .Inovation__title

  &__title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    text-align: center;
    color: #1A2578;
  }

  // .Inovation__text

  &__text {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 27px;
text-align: center;
color: #484C63;
padding-bottom: 80px;
  }

  // .Inovation__inner

  &__inner {
    display: flex;
  justify-content: center;
}

  // .Inovation__item

  &__item {
    padding-right: 90px;
    &:last-child{
      padding-right: 0px;
    }
  }
}
.page {

  // .page__section

  &__section {

    // .page__section_5

    &_5 {
    }
  }
}


//!Inovators Section__5
