body{



}

span{
    font-size: 20px;
    @media(max-width:767px){
        font-size: 15px;
    }
}

div {
    font-size: 30px;
    @media(max-width: 767px){
        font-size: 20px;
    }
}

h1{
    color: red;
    font-size: 70px;

}

p{
    text-decoration: underline;
    font-size: 40px;
}