@font-face{
	font-family: beer;
	font-display: swap;
	src: url("../fonts/beer-money12.woff2") format("woff2"), url("../fonts/beer-money12.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Exo;
	font-display: swap;
	src: url("../fonts/Exo-Black.woff2") format("woff2"), url("../fonts/Exo-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: d9464;
	font-display: swap;
	src: url("../fonts/d9464-arkhip_font.woff2") format("woff2"), url("../fonts/d9464-arkhip_font.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
