.Contact {
   

    // .Contact__inner

    &__inner {
    
    display: flex;

}

    // .Contact__left

    &__left {
    padding-top: 50px;
    padding-right: 50px;
    }

    // .Contact__title

    &__title {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        align-items: center;
        color: #1A2578;
    }

    // .Contact__text

    &__text {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        color: #484C63;
        padding-bottom: 50px;
    }

    // .Contact__item-btn

    &__item-btn {
    }

    // .Contact__right

    &__right {
    }

    // .Contact__img

    &__img {
    }
}

.Contact__item-btn{
margin-bottom: 30px;
}
//! Section__2 Info


.Info {
padding-top: 100px;
    // .Info__inner

    &__inner {
    display: flex;
    }

    // .Info__item

    &__item {
    padding: 60px;
    }

    // .Info__title

    &__title {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        align-items: center;
        letter-spacing: 0.005em;
        color: #000000;
        padding-bottom: 30px;
    }

    // .Info__text

    &__text {
        font-family: 'Europa';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        align-items: center;
        letter-spacing: 0.005em;
        color: #000000;
        padding-bottom: 30px;
    }
}
.page {

    // .page__section

    &__section {

        // .page__section_2

        &_2 {
        }
    }
}
