// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }


//
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {.menu__list{
    display: flex;
    align-items: center;
  }

.menu__list > li{
padding: 10px 0;
}
/*Это настройки для выподяющего меню при наведении*/
.menu__sub-list{
  transform: translate(0px 10%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  pointer-events: none;
} }



// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }