@charset "UTF-8";

/*import*/

@font-face {
  font-family: "nautiluspompilius";
  font-display: swap;
  src: url("../fonts/nautiluspompilius.woff") format("woff"), url("../fonts/nautiluspompilius.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header__container {
  padding: 50px 20px;
  height: 100px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  padding-left: 120px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  padding-right: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: black;
}

.menu__button {
  padding: 12px 30px;
  background-color: #00aeff;
  color: white;
  border-radius: 5px;
}

/* Основные стили */

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */

/* Слайд активный */

/* Слайд основной */

/* Слайд по центру */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки */

/* Конкретный слайдер */

.slider {
  position: relative;
  padding: 0px 60px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/Slick-Slider/keyboard-left-arrow-button_icon-icons.com_72692 (1).svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/Slick-Slider/keyboard-right-arrow-button-1_icon-icons.com_72690.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}

body {
  height: 100%;
  font-family: Montserrat;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px;
  }

  .slider {
    padding: 0px 40px;
  }
}